[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
nbdime = "*"
autopep8 = "*"
jupyterlab = "*"
pyflakes = "*"
pylint = "*"
isort = "*"
pandoc = "*"
pyvim = "*"


[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
rpy2 = "*"
wrds = "*"
pandas-profiling = "*"
dask = {extras = ["array"],version = "*"}

[requires]
python_version = "3.7"
