[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
pyvim = "*"
jupyterlab = "*"
scipy = "*"
sklearn = "*"
pandoc = "*"
rpy2 = "*"

[requires]
python_version = "3.7"
