[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyvim = "*"
pyflakes = "*"
pylint = "*"
isort = "*"
nbdime = "*"
neovim = "*"
autopep8 = "*"

[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
jupyterlab = "*"
scipy = "*"
sklearn = "*"
pandoc = "*"
rpy2 = "*"
wrds = "*"
pep8 = "*"

[requires]
python_version = "3.7"
